.hero {
  width: 100%;
  margin-bottom: 48px;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.heroImage {
  object-fit: contain;
  object-position: center;
  z-index: -1;
  width: 393px;
  height: 513px;
}

.heroTitle {
  position: relative;
  z-index: 2;
  font-size: clamp(32px, 8vw, 56px);
  line-height: 1.2;
  max-width: 500px;
  font-family: var(--font-family);
  font-weight: 600;
  color: var(--white);
  margin-top: 128px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 40px;
}

.searchBox {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 600px;
}

.sectionTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  color: var(--black);
  margin-bottom: 21.5px;
}

.filters {
  width: 100%;
  padding: 24px 20px;
}

.recipes {
  width: 100%;
  padding: 32px 20px;
}

.pagination {
  width: 100%;
  padding: 0 20px 48px;
  display: flex;
  justify-content: center;
}

/* 768px+ Tablet */
@media (min-width: 768px) {
  .container {
    max-width: 1440px;
    padding: 0 32px;
  }

  .heroImage {
    width: 768px;
    height: 443px;
  }

  .heroTitle {
    font-size: 48px;
    max-width: 600px;
    margin-bottom: 32px;
  }

  .filters {
    padding: 32px 32px;
  }

  .recipes {
    padding: 48px 32px;
  }

  .pagination {
    padding: 0 32px 64px;
  }
}

/* 1440px+ Desktop */
@media (min-width: 1440px) {
  .container {
    padding: 0 100px;
  }

  .heroImage {
    height: 443px;
    width: auto;
  }

  .heroTitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    color: var(--white);
    margin-top: 128px;
    margin-bottom: 24px;
    width: 500px;
  }

  .filters {
    padding: 40px 100px;
  }

  .recipes {
    padding: 56px 100px;
  }
}
