.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 40px 24px;
  width: 598px;
  height: 207px;
  background: var(--light-beige);
  box-sizing: border-box;
  margin: 48px auto;
}

.message {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: var(--black);
  margin: 0 0 15px;
}

.resetBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--black);
  border-radius: 8px;
  padding: 16px;
  width: 550px;
  height: 54px;
  background: transparent;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  color: var(--black);
  transition: var(--transition-default);
}

.resetBtn:hover,
.resetBtn:focus {
  background: var(--light-gray-2);
}

@media (max-width: 767px) {
  .root {
    width: 100%;
    max-width: 598px;
  }
  .resetBtn {
    width: 100%;
    max-width: 550px;
  }
}
