# fly.toml app configuration file generated for taste-of-the-end-f on 2025-11-15T17:58:37Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'taste-of-the-end-f'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
