.footer {
  background: var(--darck-brown);
  padding: 24px 0px;
}

.inner {
  max-width: var(--container-max);
  margin-inline: auto;
  padding-inline: var(--container-x);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
}

.logo {
  display: flex;
  align-items: center;
}

.copy {
  font: var(--font-400-12);
  color: var(--white);
}

.navList {
  display: flex;
  align-items: center;
  gap: 32px;
}

.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  font: var(--font-600-16);
  transition: var(--transition-default);
}

.link:hover,
.link:focus-visible {
  color: var(--nav-link-hover-color);
}

.link:focus-visible {
  outline: var(--focus-ring-width) solid var(--focus-ring-color);
  outline-offset: var(--focus-ring-offset);
}

@media (max-width: 767px) {
  .inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .logo {
    margin-bottom: 32px;
  }

  .copy {
    margin-bottom: 32px;
  }

  .navList {
    flex-direction: column;
    gap: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .logo {
    margin-bottom: 32px;
  }

  .copy {
    margin-bottom: 32px;
  }

  .navList {
    flex-direction: row;
    gap: 32px;
  }
}
