.backdrop {
  position: fixed;
  inset: 0;
  background: var(--backdrop-overlay);
  display: grid;
  place-items: center;
  z-index: 100;
}

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(80vw, 420px);
  background: var(--light-beige);
  border-radius: 32px;
  padding: 56px 32px 32px 32px;
}

.title {
  margin-bottom: 20px;
  font: var(--font-600-32);
}

.text {
  margin-bottom: 20px;
  font: var(--font-400-16);
}

.actionsWrapper {
  display: flex;
  width: 100%;
  gap: 27px;
}

.actionsColumn {
  flex: 1;
  display: flex;
}

.actionsColumn > * {
  width: 100%;
}

.actionButton,
.actionButtonSecondary {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionButton {
  border: none;
  color: var(--white);
  background-color: var(--red);
}

.actionButtonSecondary {
  border: 1px solid var(--black);
}

.close {
  position: absolute;
  top: 16px;
  right: 32px;
  background: transparent;
  cursor: pointer;
  stroke: var(--black);
}
