.paginationWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 48px;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.pages {
  display: flex;
  gap: 8px;
}

/* Individual page number buttons */
.pageNumber,
.btn {
  padding: 8px;
  min-width: 36px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-decoration: none;
  color: #333;
  transition: all 0.2s ease;
  cursor: pointer;
}

/* Hover effect for both page numbers and buttons */
.pageNumber:hover,
.btn:hover {
  background-color: var(--light-brown);
  color: #000;
  transform: scale(1.05);
}

/* Active page styling */
.activePage {
  background: var(--light-brown);
  color: #fff;
  border-color: #fff;
}

/* Previous / Next buttons styling */
.btn {
  border-color: #888;
}

.btn:hover {
  background-color: var(--light-brown);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.btn:first-child {
  margin-right: 8px;
}

.btn:last-child {
  margin-left: 8px;
}
