.paginationWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 48px;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.pages {
  display: flex;
  gap: 8px;
}

/* Individual page number buttons */
.pageNumber,
.btn {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: all 0.2s ease;
  cursor: pointer;
}

@media (min-width: 375px) {
  .pageNumber,
  .btn {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}

.btn {
  background: var(--light-brown);
  color: var(--white);
}

/* Hover effect for both page numbers and buttons */

.pageNumber:hover:not(.disabled),
.btn:hover:not(.disabled) {
  background: var(--brown);
  color: var(--white);
}

.pageNumber:active:not(.disabled) {
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px var(--white);
  background: var(--light-brown);
}

/* Active page styling */
.activePage {
  background: var(--light-brown);
  color: #fff;
  pointer-events: none;
  /* border-color: #fff; */
}

/* Previous / Next buttons styling */
/* .btn {
  border-color: #888;
}

.btn:hover {
  background-color: var(--light-brown);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
} */

/* .btn:first-child {
  margin-right: 8px;
}

.btn:last-child {
  margin-left: 8px;
} */
