.notFoundContainer {
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 79px 0 32px;
}

@media (max-width: 767px) {
  .image {
    min-width: 361px;
    max-width: 600px;
  }
}
@media (min-width: 768px) {
  .image {
    width: 600px;
  }
}

.title {
  margin: 0 0 16px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 1.1;
  text-align: center;
  color: var(--black);
}
.text {
  font-family: var(--font-family);
  font-size: 24px;
  text-align: center;
  color: var(--black);
  margin: 0 0 32px;
}

.backLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: var(--light-brown);
  border: none;
  border-radius: 8px;
  padding: 16px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  color: var(--white);
  width: 361px;
  text-decoration: none;
  margin-bottom: 79px;
}

.icon {
  stroke-width: 1px;
  stroke: var(--white);
  fill: transparent;
}

@media (min-width: 768px) {
  .backLink {
    width: 340px;
    margin-bottom: 134px;
  }
  .image {
    margin-top: 134px;
  }
}
@media (min-width: 1440px) {
  .backLink {
    width: 288px;
    margin-bottom: 38px;
  }
  .image {
    margin-top: 38px;
  }
}
