.addRecipeContainer {
  padding: 0px 16px;
  width: 100%;
  max-width: 393px;
  margin: 48px auto;
  box-sizing: border-box;
}
.recipeContainer {
  width: 361px;
}
.addRecipe {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
  color: var(--black);
  margin: 0 auto;
}
.photoContainer {
  margin-top: 16px;
}
.subtitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  color: var(--black);
  margin: 0;
}
.form {
  width: 100%;
  max-width: 361px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 16px;
  box-sizing: border-box;
}
.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--black);
}
.field {
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  height: 46px;
  max-height: 48px;
  margin-top: 8px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--gray);
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
}
.fieldDescription {
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  height: 144px;
  margin-top: 8px;
  cursor: pointer;
  box-sizing: border-box;
}
.fieldInstructions {
  margin-top: 16px;
}
.addIngredient {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}
.infoForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}
.ingredientForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.caloriesCategory {
  height: 78px;
  display: flex;
  gap: 16px;
}
.calories {
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  padding: 12px;
  width: 172px;
  height: 46px;
  max-height: 48px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--gray);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 8px;
}

.upload {
  cursor: pointer;
  display: none;
}
.photo {
  width: 100%;
  max-width: 383px;
  height: auto;
  max-height: 361px;
  margin-top: 4px;
  object-fit: contain;
  box-sizing: border-box;
  cursor: pointer;
}

/* TABLET */
@media screen and (min-width: 767px) {
  .addRecipeContainer {
    padding: 0px 32px;
    max-width: 767px;
  }
  .recipeContainer {
    width: 704px;
  }
  .addRecipe {
    font-size: 48px;
    line-height: 110%;
  }
  .form,
  .field,
  .fieldDescription {
    max-width: 704px;
  }
  .infoForm {
    gap: 32px;
  }
  .addIngredient {
    gap: 32px;
  }
  .ingredientForm {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .name {
    width: 431px;
  }
  .amount {
    width: 249px;
  }
  .button {
    margin-left: auto;
    padding: 8px;
    width: 249px;
  }
  .categoryForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .subtitle {
    font-size: 32px;
    margin-bottom: 0px;
  }
  .caloriesCategory {
    gap: 24px;
  }
  .calories {
    width: 340px;
  }
  .photo {
    max-width: 704px;
    max-height: 383px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .addRecipeContainer {
    padding: 0;
    max-width: 1226px;
  }
  .recipeContainer {
    display: flex;
    flex-direction: row-reverse;
    gap: 34px;
    width: 1226px;
  }
  .form {
    max-width: 809px;
    gap: 72px;
  }
  .field,
  .fieldDescription {
    max-width: 809px;
  }
  .calories {
    width: 392px;
  }
  .photo {
    max-width: 374px;
    max-height: 391px;
  }
  .name {
    width: 497px;
  }
  .amount {
    width: 288px;
  }
  .button {
    margin-left: auto;
    width: 258px;
    height: 23px;
  }
}
.addIngredients {
  width: 332px;
}

.selectedIngredientsList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.selectedIngredientItem {
  display: flex;
  gap: 4px;
  border-bottom: 1px solid var(--light-gray-3);
  width: 332px;
  height: 20px;
}

.selectedIngredientName {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--black);
  width: 150px;
}
.selectedIngredient {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: var(--black);
  width: 150px;
}
.deleteButton {
  border: none;
  fill: none;
}
