.addRecipeContainer {
  padding: 0px 16px;
  max-width: 393px;
  margin: 48px auto;
  box-sizing: border-box;
  width: 100%;
}

.formWithPhoto {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
}

.addRecipe {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
  color: var(--black);
  margin: 0 auto;
}

.photoContainer {
  margin-top: 16px;
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  color: var(--black);
  margin: 0;
}
.subtitlePhoto {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  color: var(--black);
  margin: 0;
  width: 361px;
  height: 29px;
}

.form {
  width: 100%;
  max-width: 361px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 16px;
  box-sizing: border-box;
}

.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--black);
}

.field {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  height: 46px;
  max-height: 48px;
  margin-top: 8px;
  cursor: pointer;
  appearance: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  color: black;
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  transition: var(--transition-default);
  background: var(--white);
}
.field:focus,
.field:hover,
.field:active {
  border: 1.5px solid var(--light-brown);
  box-shadow: 0 0 0 4px rgba(78, 70, 180, 0.2);
  outline: none;
}

.fieldDescription {
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  height: 144px;
  margin-top: 8px;
  cursor: pointer;
  box-sizing: border-box;
  transition: var(--transition-default);
}
.fieldDescription:focus,
.fieldDescription:hover,
.fieldDescription:active {
  border: 1.5px solid var(--light-brown);
  box-shadow: 0 0 0 4px rgba(78, 70, 180, 0.2);
  outline: none;
}
.fieldInstructions {
  margin-top: 16px;
}
.fieldDescriptionError {
  border: 1.5px solid var(--red);
  color: var(--red);
  box-sizing: border-box;
}
.fieldError {
  border: 1.5px solid var(--red);
  color: var(--red);
  box-sizing: border-box;
  height: 46px;
}

.fieldError::placeholder {
  color: var(--red);
}

.errorMessage {
  color: var(--red);
  font-weight: 400;
  font-size: 12px;
  margin-top: 4px;
}

.infoForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hasValue {
  color: black;
}
.calories.hasValue {
  color: black;
}
.caloriesCategory {
  height: 78px;
  display: flex;
  gap: 16px;
  box-sizing: border-box;
}

.calories {
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  padding: 12px;
  width: 172px;
  height: 46px;
  max-height: 48px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--gray);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 8px;
  transition: var(--transition-default);
}
.calories:focus,
.calories:hover,
.calories:active {
  border: 1.5px solid var(--light-brown);
  box-shadow: 0 0 0 4px rgba(78, 70, 180, 0.2);
  outline: none;
}
.categoryForm {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 82px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.caloriesForm {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 82px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.arrowIcon {
  position: absolute;
  right: 12px;
  top: 72%;
  transform: translateY(-50%);
  pointer-events: none;
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.instructions {
  margin-top: 40px;
}

.button {
  margin-top: 40px;
  width: 361px;
  height: 44px;
}
.optionList {
  position: absolute;
  z-index: 99;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  height: 262px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4), 0 8px 24px -6px rgba(0, 0, 0, 0.16);
  background: var(--white);
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  top: 100%;
  left: 0;
}
.optionItem {
  border-radius: 8px;
  padding: 8px 8px 8px 12px;
  width: 100%;
  height: 41px;
}
.optionItem:hover {
  background: var(--light-gray-2);
  border-radius: 4px;
}
.placeholderText {
  color: var(--gray);
}
@media (max-width: 374px) {
  .button {
    width: 100%;
    max-width: 361px;
    box-sizing: border-box;
  }
  .caloriesCategory {
    gap: 6px;
  }
  .categoryForm {
    max-width: 145px;
  }
  .caloriesForm {
    max-width: 105px;
  }
  .calories {
    max-width: 105px;
  }
}
/* TABLET */
@media screen and (min-width: 767px) {
  .addRecipeContainer {
    padding: 0px 32px;
    max-width: 767px;
  }
  .recipeContainer {
    width: 704px;
  }
  .addRecipe {
    font-size: 48px;
    line-height: 110%;
  }
  .form,
  .field,
  .fieldDescription {
    max-width: 704px;
  }
  .infoForm {
    gap: 32px;
  }
  .categoryForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .caloriesForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .subtitle {
    font-size: 32px;
    margin-bottom: 0px;
  }
  .subtitlePhoto {
    font-size: 32px;
    width: 704px;
    height: 70px;
    line-height: 70px;
  }
  .caloriesCategory {
    gap: 24px;
  }
  .calories {
    width: 340px;
  }
  .button {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .addRecipeContainer {
    padding: 0;
    max-width: 1226px;
  }
  .subtitlePhoto {
    width: 391px;
  }
  .formWithPhoto {
    flex-direction: row-reverse;
    gap: 34px;
    width: 1226px;
    margin-top: 40px;
  }

  .photoContainer {
    width: 391px;
  }
  .form {
    max-width: 809px;
    gap: 72px;
  }
  .field,
  .fieldDescription {
    max-width: 809px;
  }
  .calories {
    width: 392px;
  }
  .button {
    width: 809px;
  }
}
