.addRecipeContainer {
  padding: 0px 16px;
  width: 393px;
  margin: 48px auto;
}
.photoContainer {
  width: 361px;
  height: 416px;
}
.addRecipe {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
  color: var(--black);
}
.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--black);
}
.field {
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  padding: 12px;
  width: 361px;
  height: 46px;
  max-height: 48px;
  margin-top: 8px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--gray);
  font-weight: 400;
  font-size: 18px;
}
.fieldDescription {
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  padding: 12px;
  width: 361px;
  height: 144px;
  margin-top: 8px;
  cursor: pointer;
}
.form {
  width: 361px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
}
.infoForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.subtitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  color: var(--black);
}
.caloriesCategory {
  height: 78px;
  display: flex;
  gap: 16px;
}
.calories {
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  padding: 12px;
  width: 172px;
  height: 46px;
  max-height: 48px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--gray);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 8px;
}
.button {
  border-radius: 8px;
  padding: 12px 16px;
  height: 44px;
  background: var(--light-brown);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: var(--white);
  border: none;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .addRecipeContainer {
    padding: 0px 32px;
    width: 767px;
  }
  .photoContainer {
    width: 704px;
    height: 457px;
  }
  .addRecipe {
    font-size: 48px;
    line-height: 110%;
  }
  .field {
    width: 704px;
  }
  .fieldDescription {
    width: 704px;
  }
  .form {
    width: 704px;
  }
  .infoForm {
    gap: 32px;
  }
  .categoryForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .subtitle {
    font-size: 32px;
  }
  .caloriesCategory {
    gap: 24px;
  }
  .calories {
    width: 340px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .addRecipeContainer {
    padding: 0;
    width: 1226px;
  }
  .photoContainer {
    width: 391px;
    height: 448px;
  }
  .recipeContainer {
    display: flex;
    flex-direction: row-reverse;
    gap: 34px;
  }
  .field {
    width: 809px;
  }
  .fieldDescription {
    width: 809px;
  }
  .form {
    width: 809px;
    gap: 72px;
  }

  .calories {
    width: 392px;
  }
}
