.backdrop {
  position: fixed;
  inset: 0;
  background: var(--backdrop-overlay);
  display: grid;
  place-items: center;
  z-index: 100;
}
.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(80vw, 420px);
  background: var(--light-beige);
  border-radius: 32px;
  padding: 56px 32px;
}
.title {
  margin-bottom: 20px;
  font: var(--font-600-32);
}
.text {
  margin-bottom: 20px;
  font: var(--font-400-16);
}
.actions {
  display: flex;
  gap: 27px;
  width: 100%;
}
.actionButton,
.actionButtonSecondary {
  flex: 1;
  height: 36px;
}

.actions .actionButton {
  border: 1px solid var(--black);
}

.close {
  position: absolute;
  top: 16px;
  right: 32px;
  background: transparent;
  cursor: pointer;
  stroke: var(--black);
}
