:root {
  /* Container side paddings (desktop/tablet/mobile) */
  --container-x: 16px;
  --container-max: 1440px;

  /* Color custom properties */
  --black: #000;
  --gray: #595d62;
  --white: #fff;
  --light-brown: #9b6c43;
  --light-beige: #faf3e0;
  --light-gray: #d9d9d9;
  --darck-brown: #3d2218;
  --background: #fbfcf8;
  --brown: #6d554b;
  --light-gray-2: #d3d3d3;
  --light-gray-3: #c5c5c5;
  --gray-3: #9f9f9f;
  --social-media-background: rgba(255, 255, 255, 0);
  --gray-2: #575757;
  --black-2: #070707;
  --beige: #e3caa5;
  --beige-2: #edd9aa;
  --white-55: rgba(255, 255, 255, 0.55);
  --white-80: rgba(255, 255, 255, 0.8);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-50: rgba(0, 0, 0, 0.5);
  --white-55-: rgba(255, 255, 255, 0.55);
  --white-80-: rgba(255, 255, 255, 0.8);
  --darck-brown-65-: rgba(61, 34, 24, 0.65);
  --icon-gray: #3a3a3a;
  --light-beige-2: #fffbe9;
  --darck-gray: #323232;
  --light-beige-3: #e1d7c6;
  --red: #c80000;

  --backdrop-overlay: rgba(0, 0, 0, 0.6);

  --transition-default: background-color 200ms ease, box-shadow 150ms ease, transform 120ms ease,
    opacity 150ms ease, border-color 200ms ease;

  /* Fonts custom propertie */
  --font-family-base: var(
    --font-montserrat,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif
  );

  --font-600-48: 600 48px/1.2 var(--font-family-base);
  --font-600-40: 600 40px/1.2 var(--font-family-base);
  --font-600-32: 600 32px/1.25 var(--font-family-base);

  --font-700-24: 700 24px/1.3 var(--font-family-base);

  --font-600-18: 600 18px/1.4 var(--font-family-base);
  --font-600-16: 600 16px/1.4 var(--font-family-base);
  --font-600-12: 600 12px/1.4 var(--font-family-base);

  --font-400-18: 400 18px/1.5 var(--font-family-base);
  --font-400-16: 400 16px/1.5 var(--font-family-base);
  --font-400-12: 400 12px/1.4 var(--font-family-base);
}

/* ≥768px */
@media (min-width: 768px) {
  :root {
    --container-x: 32px;
  }
}

/* ≥1440px */
@media (min-width: 1440px) {
  :root {
    --container-x: 108px;
  }
}

main {
  flex-grow: 1;
}

body {
  font: var(--font-400-16);
  color: var(--black);
  background: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  font: inherit;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
* {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}
