.title {
    font-size: 48px;
    line-height: 1.1;
    text-align: center;
    color: var(--black);
    margin: 0;
}

.discription{
    font-size: 24px;
    text-align: center;
    color: var(--black);
    margin: 0;
}

.pageWrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding-block: 32px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.logo {
    width: 350px;
    height: 350px;
}

.btn {
    border: none;
    border-bottom: 2px solid var(--black);
    background-color: transparent;
    text-decoration: none;
    padding: 8px 0;
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn a {
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    color: var(--black);
    display: inline-block;
    
}

.iconBack {
    stroke: var(--black);
    fill: none;
}

@media (min-width:768px) {
    .logo {
        width: 500px;
        height: 500px;
        }
}

@media (min-width:1440px) {
    .logo {
        width: 650px;
        height: 650px;
    }
}