.notFavoriteButton {
  border: 1px solid var(--black);
  border-radius: 8px;
  padding: 8px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  stroke: black;
  fill: transparent;
}
.favoriteButton {
  border-radius: 8px;
  padding: 8px;
  width: 40px;
  height: 40px;
  background-color: var(--light-brown);
  fill: transparent;
  stroke: var(--white);
}
