/* Загальні налаштування для всіх елементів */
.pageItem,
.arrow,
.active {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  font-family: var(--font-family);
  text-align: center;
  transition: var(--transition-default);
  width: 40px;
  height: 40px;
  font-weight: 600;
  line-height: 155%;
  color: var(--black);
  border-radius: 8px;
  border: 3px solid transparent;
}

.pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Mobile First: 320px+ */
.pagination {
  display: flex;
  gap: 4px;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin-bottom: 48px;
}

.pageItem:not(.active):hover:not(.disabled),
.pageItem:not(.active):focus:not(.disabled) {
  background: var(--brown);
  color: var(--white);
  opacity: 0.8;
}

.pageItem:active:not(.disabled) {
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px var(--white);
  background: var(--light-brown);
}

/* Активна цифра */
.active {
  color: var(--white);
  background: var(--light-brown);
}

.active:hover:not(.disabled),
.active:focus:not(.disabled) {
  background: var(--brown);
}

/* Стрілки */
.arrow {
  background: var(--light-brown);
  color: var(--white);
}

.arrow:hover:not(.disabled),
.arrow:focus:not(.disabled),
.arrow:active:not(.disabled) {
  background: var(--brown);
}

.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

/* 1440px+ Desktop */
@media (min-width: 1440px) {
  .pageItem,
  .arrow,
  .active {
    width: 32px;
    height: 32px;
    font-size: 16px;
  }
}
