/* Mobile First: 320px+ */
.pagination {
  display: flex;
  gap: 4px;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin-bottom: 48px;
}

.pageItem {
  min-width: 36px;
  height: 36px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--transition-default);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  color: var(--black);
}

.arrow {
  border-radius: 8px;
  width: 40px;
  height: 40px;
  background: var(--light-brown);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: var(--white);
  padding: 8px;
}

.active {
  border-radius: 8px;
  padding: 16px;
  width: 40px;
  height: 40px;
  background: var(--light-brown);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: var(--white);
}

.pageItem:hover:not(.disabled),
.arrow:hover:not(.disabled) {
  background: var(--brown);
}

.pageItem:focus:not(.disabled),
.arrow:focus:not(.disabled) {
  background: var(--brown);
}

.pageItem:active:not(.disabled),
.arrow:active:not(.disabled) {
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px var(--white);
  background: var(--light-brown);
}

.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

/* 1440px+ Desktop */
@media (min-width: 1440px) {
  .pageItem {
    border-radius: 4px;
    padding: 4px 12px;
    width: 32px;
    height: 32px;
  }

  .arrow {
    border-radius: 8px;
    padding: 4px 8px;
    width: 32px;
    height: 32px;
  }

  .active {
    border-radius: 8px;
    padding: 4px 12px;
    width: 32px;
    height: 32px;
  }
}
