.logo {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  color: var(--white);
  width: 165px;
  height: 46px;
  gap: 5px;
}

.wordmark {
  font-size: 16px;
  letter-spacing: 0.2px;
  list-style-type: none;
}
