.logo {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  color: var(--white);
  width: 165px;
  height: 46px;
  gap: 5px;
}

.wordmark {
  font-size: var(--font-600-18);
  letter-spacing: -0.03em;
  list-style-type: none;
}
