.form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    max-width: 522px;
    width: 100%;
    padding: 3rem 2rem;
    background-color: var(--light-beige);
    border-radius: 2rem;
}

.formTitle {
    font-weight: 600;
    color: var(--black);
    text-align: center;
}

.formDecription {
    line-height: 1.55;
    color: var(--black);
    text-align: center;
}

.wrapperInputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 27px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 400;
    color: var(--black);

}

.input {
    padding: 0.5rem;
    font-size: 1rem;
    background: var(--white);
    border: 1px solid var(--light-gray);
    border-radius: 0.5rem;
    line-height: 1.55;

    &:focus {
        outline: transparent;
        border: 1.50px solid var(--light-brown);
        box-shadow: 0 0 0 4px rgba(78, 70, 180, 0.2);
    }
}

.label {
    margin-bottom: 0.25rem;
}

.formGroupPassword {
    position: relative;
}

.inputPassword {
    padding-right: 2rem;
    width: 100%;
}

.iconBtn {
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    padding: 4px;
    line-height: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* 
  &:focus {
      outline: none;
      border: 1px solid var(--light-brown);
      border-radius: 8px;
    } */
}

.icon {
    stroke: black;
    fill: none;
}

.submitButton {
    width: 100%;
}

.submitButton span {
    line-height: 1.3;
}

.qusetionLogIn {
    line-height: 1.55;
    color: var(--black);
    text-align: center;
}

.qusetionLogInAccent {
    font-weight: 600;
    color: inherit;
    text-decoration: underline;

    &:focus {
        outline: transparent;
        border: 1.50px solid var(--light-brown);
        box-shadow: 0 0 0 4px rgba(78, 70, 180, 0.2);
        border-radius: 0.5rem;
    }
}

.errorMessage {
    color: var(--red);
    font-size: 12px;
    margin-top: 0.25rem;
    text-align: center;
}

.errorInput {
    border: 1px solid var(--red);
    color: var(--red)
}

@media (min-width: 768px) {
    .form {
        max-width: 522px;
        width: 100%;
    }
}

@media (min-width: 1440px) {
    .form {
        max-width: 420px;
        width: 100%;
    }
}